.profile {
    background-color: #fcf5f0;
    max-width: 280px;
    border-radius: 8px;
    box-shadow: 2px 10px 49px -11px rgba(74,74,74,1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 40px 10px 20px 10px;
}

.profile__img {
    border-radius: 50%;
    width: 70%;
    box-shadow: 0px -2px 26px -10px rgba(74,74,74,1);
}

.profile__username {
    font-size: 28px;
    font-weight: 500;
}

.profile__caption {
    font-size: 18px;
    color: #7D7773;
}

.profile__features {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #7D7773;
}

.profile__point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    position: relative;
    gap: 5px;
    width: 30%;
}

.profile__item{
    font-size: 18px;
    font-weight: 500;
}

.profile__point:nth-child(2) {
    border-right: 1px solid #7D7773;
    border-left: 1px solid #7D7773;
}

.profile__stat {
    color: #7D7773;
}

@media screen and (min-width: 768px) {
    .profile {
        max-width: 400px;
    }
    .profile__info {
        gap: 15px;
    }
    .profile__img {
        width: 50%;
    }
    .profile__username {
        font-size: 32px;
    }
    .profile__item {
        font-size: 20px;
    }
    .profile__point {
        padding: 30px;
    }
}
