.friends__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.friend {
    background-color: #F0F0F4;
    width: 100%;
    height: 100px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .friend {
        justify-content: space-around;
    }
}

@media screen and (min-width: 768px) {
    .friend {
        padding: 0 20px;
        gap: 20px;
    }
}

.friend__avatar {
    width: 50px;
}

.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.status__online {
    composes: status;
    background-color: #82C2B4;
}

.status__offline {
    composes: status;
    background-color: 	#ff9966;
}

.friend__name {
    font-size: 20px;
}