.stats {
    display: flex;
    flex-direction: row;
}

.stats__item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats__label {
    font-size: 20px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .stats__item {
        padding: 20px;
    }

    .stats__label {
        font-size: 24px;
    }
}